@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Satisfy&family=Poppins:ital,wght@0,600;1,400&display=swap");
:root {
  --height: 1rem;
  --border: 3px;
  --hue-color: 190;
  --accent: #fff7fa;
  --links: #ffa500;
  --secondary: #171717;
  --gradient: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  line-height: 1.6;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* For toggling */
body[data-isDark="true"] {
  --accent: #171717;
  --links: #84fab0;
  --secondary: #fff7fa;
  --gradient: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-color: var(--accent);
  color: var(--secondary);
}
input,
textarea,
button,
footer {
  font-family: "Poppins", serif;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 900;
  font-family: "Poppins", serif;
}

section {
  margin: 3rem 0;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.container {
  padding: 0 1.5em;
  max-width: 1024px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin-top: 1rem;
}

h1 {
  font-size: clamp(5rem, 10vw, 10rem);
  text-transform: capitalize;
  padding: 40px 0;
}
h2 {
  text-transform: capitalize;
  font-size: clamp(2rem, 10vw, 3rem);
}
h3 {
  font-size: clamp(1.5em, 10vw, 2rem);
}
span {
  font-weight: 600;
  display: block;
}

header {
  padding: var(--height) 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  position: relative;
}
.nav__link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0%;
  left: 0%;
  background-color: var(--links);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}
.nav__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.logo {
  font-family: "Satisfy", cursive;
  font-size: 1.25rem;
  color: var(--links);
}

.primary-navigation {
  display: flex;
  width: 40%;
  justify-content: space-between;
  text-transform: capitalize;
}
li {
  list-style-type: none;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  border: none;
}

@supports (-webkit-background-clip: text) {
  .gradient-text {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}

.btns {
  margin-top: 2rem;
}
.gradient {
  color: var(--secondary);
  background-color: var(--accent);
  border: var(--border) solid transparent;
  background-clip: padding-box;
  transition: all 200ms ease-in;
}
.gradient::before {
  content: "";
  position: absolute;
  border-radius: var(--border);
  top: calc(-1 * var(--border));
  bottom: calc(-1 * var(--border));
  right: calc(-1 * var(--border));
  left: calc(-1 * var(--border));
  background-color: var(--accent);
  z-index: -1;
  background-image: var(--gradient);
}
.gradient:hover {
  background-color: transparent;
  color: var(--accent);
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 650px) {
  .mobile-nav {
    font-size: 2rem;
    padding: 0;
    display: block;
    position: absolute;
    top: 21px;
    right: 10px;
    background-color: transparent;
    color: var(--secondary);
    z-index: 1001;
  }
  .primary-navigation {
    position: fixed;
    justify-content: flex-start;
    width: 100%;
    top: 0%;
    height: 100vh;
    left: 100%;
    background-color: var(--accent);
    z-index: 1000;
    flex-direction: column;
    padding: min(5rem, 30vh) 2em;
    transition: left 300ms ease-in;
  }
  .primary-navigation > * {
    margin: 2rem 0;
  }
  .primary-navigation.open {
    left: 50%;
  }
}

.main {
  margin-top: calc(5 * var(--height));
  z-index: 100;
}

.banner__btn + .banner__btn {
  margin: 0.5rem 0;
}

.bg-dark {
  background-color: var(--secondary);
  color: var(--accent);
  padding: 5rem 0;
}
.about__card {
  width: 25%;
}
.about__card.w-lg {
  width: 50%;
}
.edu {
  min-width: 100%;
}
.edu > * {
  margin-top: 20px;
}
.project {
  margin-block: 2rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.project__heading{
  background: var(--gradient);
  padding: 20px 0;
  text-align: center;
  color: white;
}
.card {
  width: 100%;
}
.card__image {
  height: 300px;
}
.card__image img {
  width: 100%;
  height: 100%;
}
.card__content h3{
  position: relative;
}
.card__content h3::before{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width:100%;
  height: 2px;
  background: var(--gradient);
}

@media (max-width: 700px) {
  .project {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .card img {
    width: 100%;
  }
}

.flex {
  display: flex;
  gap: 2rem;
}
.subscribe {
  background-color: var(--secondary);
  padding: 5rem;
  z-index: -10;
}
.subscribe h3 {
  color: var(--accent);
  margin-bottom: 2rem;
}

input,
textarea {
  resize: var(--height);
  width: 100%;
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--accent);
  padding: 0.5rem 0;
  color: var(--accent);
  margin-bottom: 1rem;
}


@media screen and (max-width: 786px) {
  .about__card {
    width: 30%;
  }
  .about__card.w-lg {
    width: 30%;
  }
}
@media screen and (max-width: 700px) {
  .about__card {
    width: 100%;
  }
  .about__card.w-lg {
    width: 100%;
  }
  .flex {
    flex-direction: column;
  }
  .subscribe {
    padding: 1rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
}
